PORT=4000
CLIENT_ORIGIN=http://localhost:5173,http://localhost:5174
SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_SERVICE_ROLE_KEY=yrole key supa supa
JWT_SECRET=very secret key that is long and hard to guess
JWT_EXPIRES_IN=7d
AUTH_COOKIE_NAME=blogstreet_session
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=smtp-relay.brevo@smtp-brevo.com
BREVO_SMTP_PASS=xsdasdasdsadadaksdjaksldjajdlkajda
BREVO_FROM_EMAIL=fodsadajksdhakdajhdsahjdahsjdhajkdhasdjsada@somwhere.com
BREVO_FROM_NAME=BlogStreet
